@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-titillium), sans-serif;
}

.transition-all {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  font-family: var(--font-cinzel), serif;
}

h2 {
  font-family: var(--font-cinzel), serif;
}

.input {
  @apply w-full border rounded px-4 py-2 text-sm focus:outline-hidden focus:ring-2 focus:ring-amber-600;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 10px;
}
